/* start your styling here  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.continer{
    border: 2px solid black;
    width: 40vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Hover{
    background-color: #aa1d04;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 50%;
    height: 50%;
}


.box{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.main {
    position: relative;
    display: inline-block;
    height: 20vh;
    width: 20vw;
  }
  .box a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
   .box a:hover{
    background-color: #ddd;
  } 
  .main:hover .box{
    display: block;
  } 