.div-1{
    border: 2px solid black;
     height: 80px;
     width: 200px;
     border-left: none;
}
.grid-1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.grid-2{
    display: flex;
}
.div-1-middle{
    border: 2px solid black;
    height: 204px;
    width: 170px;
}
.div-2-middle{
    border: 2px solid black;
    height: 160px;
    width: 240px;
    border-right: none;
}
.div-21-middle{
    border: 2px solid black;
    height: 204px;
    width: 278px;
    border-right: none;
}
.div-3-middle{
    border: 2px solid black;
    height: 204px;
    width: 200px;
     border-left: none;
}
.grid-3{
    display: flex;
gap: 15px;
padding-left: 10px;
padding-top: 12px;
}
.div-4{
    border: 2px solid black;
     height: 120px;
     width: 230px;
     border-left: none;
}
.div-5{
    border: 2px solid black;
     height: 120px;
     width: 170px;
     border-left: none;
}
.div-6-middle{
    border: 2px solid black;
    height: 160px;
    width: 270px;
     border-left: none;
}
.div-7-middle{
    border: 2px solid black;
    height: 160px;
    width: 350px;
}
.top
{
    border:1px solid black;
    height:23px;
    width:90px;
    
    border-radius: 5px; 
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
align-items: center;
}
.grid-8{
    display: flex;
gap: 40px;
justify-content: center;
align-items: center;
}
.grid-5{
    display: flex;
    gap: 270px;
    /* justify-content: flex-end; */
    margin-top: 10px;
    background-color: antiquewhite;
    height: 48px;
}